<!DOCTYPE html>

<html>

<head>
    <link   rel="stylesheet" href="/css/styles.css" >
  <title>About</title>
</head>


<body>
    <div class="main-contant"> 
       {{>header}}
       <p> This site  was created by Andrew. It uses data from mapbox.com and darksky.net</p>
 <img class="portrait" src="img/A.jpeg">
</div>
  

 {{>footer}}
</body>


</html>