<!DOCTYPE html>

<html>

<head>
    <link   rel="stylesheet" href="/css/styles.css" >
 <title>Help</title>
</head>


<body>
<div class="main_conatant">  {{>header}}

 <p>{{helptext}}</p></div>


  

 {{>footer}}
</body>


</html>